<%= form_with(model: sourcetype, local: true) do |form| %>
  <% if sourcetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sourcetype.errors.count, "error") %> prohibited this sourcetype from being saved:</h2>

      <ul>
      <% sourcetype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sourcetype %>
    <%= form.text_field :sourcetype, id: :sourcetype_sourcetype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
