<%= form_with(model: preloadsource, local: true) do |form| %>
  <% if preloadsource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preloadsource.errors.count, "error") %> prohibited this preloadsource from being saved:</h2>

      <ul>
      <% preloadsource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preloadsourcename %>
    <%= form.text_field :preloadsourcename, id: :preloadsource_preloadsourcename %>
  </div>

  <div class="field">
    <%= form.label :preloadsourceurl %>
    <%= form.text_field :preloadsourceurl, id: :preloadsource_preloadsourceurl %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.number_field :language_id, id: :preloadsource_language_id %>
  </div>

  <div class="field">
    <%= form.label :sourcetype_id %>
    <%= form.number_field :sourcetype_id, id: :preloadsource_sourcetype_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
