<p id="notice"><%= notice %></p>

<h1>Preloadsources</h1>

<table>
  <thead>
    <tr>
      <th>Preloadsourcename</th>
      <th>Preloadsourceurl</th>
      <th>Language</th>
      <th>Sourcetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preloadsources.each do |preloadsource| %>
      <tr>
        <td><%= preloadsource.preloadsourcename %></td>
        <td><%= preloadsource.preloadsourceurl %></td>
        <td><%= preloadsource.language_id %></td>
        <td><%= preloadsource.sourcetype_id %></td>
        <td><%= link_to 'Show', preloadsource %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>