<p id="notice"><%= notice %></p>

<p>
  <strong>Preloadsourcename:</strong>
  <%= @preloadsource.preloadsourcename %>
</p>

<p>
  <strong>Preloadsourceurl:</strong>
  <%= @preloadsource.preloadsourceurl %>
</p>

<p>
  <strong>Language:</strong>
  <%= @preloadsource.language_id %>
</p>

<p>
  <strong>Sourcetype:</strong>
  <%= @preloadsource.sourcetype_id %>
</p>

<%= link_to 'Edit', edit_preloadsource_path(@preloadsource) %> |
<%= link_to 'Back', preloadsources_path %>
